
.botonesprimarioresta{
    font-size: 30px;
    color: rgb(21, 13, 46);
    margin: 5px;
}

.botonesprimariosuma{
    font-size: 30px;
    color: rgb(21, 13, 46);
}

.añadirbtn1 {
    display: inline-block;
    background-color: #201414;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .añadirbtn1:hover {
    background-color: #1b2d42;
  }