.h2{
    font-size: 40px;
}

.botonesprimarioresta{
    font-size: 30px;
    color: rgb(21, 13, 46);
    margin: 5px;
}

.botonesprimariosuma{
    font-size: 30px;
    color: rgb(21, 13, 46);
}

.botoncarrito{
    font-size: 30px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    background-color: green;
}